@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    .post .title {
        font-size: 20px;
    }

    .container {
        width: auto;
        margin: 0 10px;
    }

    .main-navigation__items {
        display: none;
    }

    .main-navigation {
        margin: 20px 0;
    }

    ul.posts {
        margin: 0;
        padding: 0;
    }

    ul.posts li.post {
        padding: 5px 10px;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 22px;
    }
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }

    .navbar-open {
        display: none;
    }

    .container {
        width: auto;
        margin: 0 20px;
    }

    .main-navigation__items.responsive {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    body {
        font-size: 20px;
    }

    .navbar-open {
        display: none;
    }

    .container {
        width: 900px;
        margin: 0 auto;
    }

    .main-navigation__items.responsive {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 22px;
    }

    .navbar-open {
        display: none;
    }

    .container {
        width: 1140px;
        margin: 0 auto;
    }

    .main-navigation__items.responsive {
        display: none;
    }
}
